@import "tailwindcss";
:root {
    --color-gray-50: #f9fafb;  /* Very light gray */
    --color-gray-100: #f2f4f5; /* Almost white */
    --color-gray-200: #d9dcdc; /* Light gray */
    --color-gray-300: #aeb3b6; /* Medium-light gray */
    --color-gray-400: #6e757a; /* Pre-base gray */
    --color-gray-500: #3F4448;      /* Base gray ~ #3F4448 */
    --color-gray-600: #3F4448;  /* Darker gray */
    --color-gray-700: #363a3e;  /* Deep gray */
    --color-gray-800: #2c3033;  /* Very dark gray */
    --color-gray-900: #232628;  /* Almost black */
    --color-gray-950: #191b1d;  /* Deepest black tone */
  }